__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
debug.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
Database.db
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xlsm
*.xlsb